<section class="academic" id="academic">
  <h2 class="academic__title">Education</h2>
  <ul class="academic__list">
    <li class="academic__element">
      Web Programming Bootcamp by Adalab. From 31/05/2022 to 14/09/2022
    </li>
    <li class="academic__element">
      Bachelor Degree in Biology by University of Alicante. From 09-2015 to
      07-2021
    </li>
    <li class="academic__element">
      Biology-related courses: mammal signs and traces, scientific
      communication, etc. See my LinkedIn for details.
    </li>
  </ul>
</section>
