<section class="bio" id="bio">
  <article class="bio__presentation">
    <img
      class="bio__img"
      src="../assets/images/profilesq.jpg"
      alt="a girl in a grey shirt"
    />
    <div class="bio__wrapper">
      <h1 class="bio__name">Nereida Rodriguez Orenes</h1>
      <h2 class="bio__job">future front-end developer</h2>
    </div>
  </article>
  <article class="bio__description">
    <p class="bio__text">
      I studied Biology at the University of Alicante, but, some years later, I
      realised that it was not the correct path for me. Now, I am studying in
      Adalab, willing to start my career in the technology world. I can use
      JavaScript, HTML5, CSS and SASS and I am currently learning React. In the
      future, I am interested in learning more about APIs and servers, Angular
      and VUE.
    </p>
    <p class="bio__text">
      This webpage is a collection of my personal projects and some of the
      exercises that I have done in Adalab.
    </p>
  </article>
</section>
