<section class="bio" id="bio">
  <article class="bio__presentation">
    <img
      class="bio__img"
      src="../assets/images/profilesq.jpg"
      alt="a girl in a grey shirt"
    />
    <div class="bio__wrapper">
      <h1 class="bio__name">Nereida Rodriguez Orenes</h1>
      <h2 class="bio__job">front-end developer junior</h2>
    </div>
  </article>
  <article class="bio__description">
    <p class="bio__text">
      I studied Biology at the University of Alicante, but, some years later, I
      realised that it was not the correct path for me. In June 2022, I started
      studying in Adalab, willing to start my career in the technology world. I
      can use JavaScript, ReactJS, CSS3 and another front-end-related
      technologies and I know some basic back-end concepts of NodeJS, Express
      and SQL -moreover, I used to work with Git. I will detail it in the
      section "technologies". In the future, I am interested in learning more
      about APIs and servers, Angular and VUE.
    </p>
    <p class="bio__text">
      This webpage is a collection of my personal projects and some of the
      exercises that I have done in Adalab. Check the
      <strong class="bio__strong">Projects Tab</strong> up in the header!
    </p>
  </article>
</section>
