<nav class="header__nav">
  <ul class="header__ul">
    <li class="header__element">
      <a class="link header__link" href="./index.html#bio">Bio</a>
    </li>
    <li class="header__element">
      <a class="link header__link" href="./index.html#wnss"
        >Strenghts and weaknesses</a
      >
    </li>
    <li class="header__element">
      <a class="link header__link" href="./index.html#projects">Projects</a>
    </li>
    <li class="header__element">
      <a class="link header__link" href="./index.html#academic"
        >Academic training</a
      >
    </li>
    <li class="header__element">
      <a class="link header__link" href="./index.html#footer">Contact</a>
    </li>
  </ul>
</nav>
