//tamaño de letra
$size-nav: 0.875rem; //14px
$size-text: 1rem; //16px
$size-subtitle: 1.125rem; //18px
$size-title: 1.25rem; //20px

//colores
$color-text: black;
$color-title: #2351DA;
$color-subtitle: #26B9F5;
$color-background: #FFFF;
$color-mark: #B7E8FC;
$color-nav: white;
$color-border: #26B9F5;
$color-header: #0D8BDA;

//otros
$separation-margin: 5%;
$font: 'Montserrat', sans-serif;