.academic{
   
    padding: $separation-margin;

    &__ul{
        list-style: disc;
    }

    &__element{
        padding: 10px 0px;
        font-size: $size-text;
        line-height: normal;
    }

     &__title{
        margin-bottom: 3%;
        font-size: $size-h2;
        font-weight: 600;
        color: $color-subtitle;
        text-transform: capitalize;
     }
}