.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $separation-margin;
    padding-top: $separation-margin;
    border-top: solid 1px $color-border;

    &__title{
        font-size: $size-subtitle;
    }

    &__wrapper{
        min-width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__element{
        padding-top: 3%;
    }
}

.fa-brands, .fa-solid{
    color: $color-header;
}

.fa-solid{
    position: fixed;
    bottom: 3%;
    left: 3.5%;
}


@media all and (min-width:768px){
    .fa-solid{
        position: fixed;
        bottom: 7%;
        left: 3.5%;
    }
}