.projects{
   
    padding: 2.5% 6% $separation-margin 6%;

    &__ul{
        list-style: disc;
    }

    &__elements{
        display: flex;
        flex-direction: column;
    }

    &__text{
        padding: 10px 0px;
        font-size: $size-text;
        line-height: normal;
    }

    &__link{
        color: $color-subtitle;
    }
     &__title{
        margin-bottom: 3%;
        font-size: $size-subtitle;
        font-weight: 600;
        color: $color-subtitle;
        text-transform: capitalize;
     }
}